<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppConversaoDadosControlCheque.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AppConversaoDadosControlCheque.Properties.Settings.Conexao_Banco_Paradox"
            connectionString="Dsn=Cheque" providerName="System.Data.Odbc" />
        <add name="AppConversaoDadosControlCheque.Properties.Settings.Conexao_Banco_Mysql"
            connectionString="server=localhost;user id=root;password=123;database=bd_control_cheque" />
    </connectionStrings>
    <userSettings>
        <AppConversaoDadosControlCheque.Properties.Settings>
            <setting name="arquivo_nao_tratado" serializeAs="String">
                <value>C:\Fontes\ControlCheque\02 - Desenvolvimento\03 - Construcao\Utilitarios\ImportacaoDeDados\Arquivos_Importacao_Campo_Obs\dados_nao_tratados.txt</value>
            </setting>
            <setting name="arquivo_tratado" serializeAs="String">
                <value>C:\Fontes\ControlCheque\02 - Desenvolvimento\03 - Construcao\Utilitarios\ImportacaoDeDados\Arquivos_Importacao_Campo_Obs\dados_tratados.txt</value>
            </setting>
        </AppConversaoDadosControlCheque.Properties.Settings>
    </userSettings>
</configuration>